/* ----------------------------------------General */

body {
    font-family: 'Barlow Condensed', sans-serif;
    padding-top: 80px;
}

/* main headers */
h1 {
    font-family: 'Bangers', sans-serif;
}

ul {
    margin-top: 0; 
    margin-bottom: 1rem;
}

/* these buttons are located on the home page */
.card-button {
    display: block;
    max-width: 300px;
    margin: auto;
    font-family: 'Bangers', sans-serif;
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
    margin-top: 20px;
    background-color: #054e6f;
    color: #fbffff;
}

.card-button:hover {
    background-color: #ffd900;
    color: #fbffff;
}

.reviewb {
    background-color: #054e6f;
    color: #fbffff;
    border-radius: 23px;
    font-family: 'Bangers', sans-serif;
}

.reviewb:hover {
    background-color: #67c60a;
    color: #fbffff;
}

.modalbtn {
    color: #054e6f;
    background-color: #ffd900;
    border-color: #f05f40;
    border-radius: 23px;
    font-family: 'Bangers', sans-serif;
}


.landingbutton {
    color: #054e6f;
    background-color: #ffd900;
    border-radius: 23px;
    border-color: #054e6f;
    font-family: 'Bangers', sans-serif;
}

.landingbutton:hover {
    color: #ffd900;
    background-color: #054e6f;
}

/* this button is located on the about page */
.free-button {
    display: block;
    max-width: 500px;
    margin: auto;
    font-family: 'Bangers', sans-serif;
    font-weight: bold;
    border-radius: 23px;
    width: 300px;
    margin-top: 40px;
    background-color: #054e6f;
    color: #fbffff;
}

.free-button:hover {
    background-color: #67c60a;
    color: #fbffff;
}

/* this button is located at the bottom of the form on the contact page */
.btn-contact[type="submit"] {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000;
    background-color: #ffd900;
    font-family: 'Bangers', sans-serif;
}

.btn-contact:hover {
    color: #ffd900;
    background-color: #000;
}

.uppercase {
    text-transform: uppercase;
}

/* ----------------------------------------Navbar*/

nav {
    background-color: #054e6f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    box-shadow: 0 0 25px 0 #000;
    z-index: 1;
}


.navbar-brand {
    width: 80px;
    height: 80px;
    transition: transform .2s;
}

.navbar-brand:hover {
    transform: scale(1.25);
}

.navbar-nav .nav-link {
    text-decoration: none;
    font-size: 25px;
    border-radius: 23px;
    text-align: right;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #fbffff;
    background-color: #7bd7c2;
    border-radius: 23px;
}

.dropdown-menu {
    background-color: #ffd900;
    color: #054e6f;
    position: relative;
}

.dropdown-item {
    background-color: #ffd900;
    color: #054e6f;
    border-radius: 23px;
}

.dropdown-item:hover {
    color: #054e6f;
    background-color: #fbffff;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

/* ---------------------------------------Jumbotrons, each page starts with a jumbotron */

.jumbotron {
    height: 22em;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 0;
}

.jumbotron h2 {
     font-family: 'Bangers', sans-serif;
}


/* home page jumbrotron */
#landing-view {
    background-image: url("../img/fit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 2vw;
    color: #fbffff;
}

/*Who we are page jumbrotron */
#about-view {
    background-image: url("../img/sweatitoutgym.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    font-size: 2.5vw;
    color: #fbffff;
}

/* classes page jumbrotron */
#classes-view {
    background-image: url("../img/workout.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    font-size: 2.5vw;
    color: #fbffff;
}

/* contact page jumbrotron */
#contact-view {
    background-image: url("../img/gymfour.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
    font-size: 2.5vw;
    color: #fbffff;
}

/* ----------------------------------------Footer */


footer {
    background-color: #054e6f;
    color: #fbffff;
    text-align: center;
     min-height: 130px;
     margin-bottom: 0;
}

/*there are five social links at the bottom of the footer */
.social-links {
    padding-bottom: 10px;
    margin: 0;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fbffff;
    background: #000;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background-color: #ffd900;
}

#footer-details {
    padding: 20px;
}


/* ----------------------------------------Home page styles */
/* background colors for the sections */
.bg-color-about-landing {
    background-color: #fbffff;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
}

.bg-color-services-landing {
    background-color: #7bd7c2;
    padding: 40px;
}

/* first section */
.about-landing-page h3 {
    font-size: 60px;
    font-family: 'Bangers', sans-serif;
}

.about-landing-page h5 {
    font-size: 30px;
}

.gym-name {
    font-size: 7em;
}

/* this section contains three cards that show some of the services offered  */
.card-main {
    margin: 20px 10px;
    transition: transform .2s;
}

.card-main:hover {
    transform: scale(1.25);
}

.card-title {
    font-family: 'Bangers', sans-serif;
}


/*  section for reviews */
.review {
     background-color: #ffd900;
     margin: 0;
     padding-top: 15px;
     padding-bottom: 20px;
}

#reviews {
    font-family: 'Bangers', sans-serif;
    font-size: 40px;
}

/* ----------------------------------------About Page styles */


.services-page{
    justify-content: center;
}

/* this is the light blue section with the trainers */
.about-gallery {
    background-color: #7bd6c2;
    padding: 20px;
    margin: 0;
}

.about-gallery .flex {
    display: flex;
    padding: 30px;
}

/*  h3s target the names of the trainers */
.about-gallery h3 {
    margin-bottom: 30px;
    font-family: 'Bangers', sans-serif;
    font-size: 55px;
    padding-top: 20px;
    justify-content: center;
}

/* h4s target the titles of the trainers */
.about-gallery h4 {
    font-weight: 400;
    width: 100%;
    font-size: 32px;
    font-family: 'Bangers', sans-serif;
    line-height: 1;
}

/* h4s target the short text about the trainers' experience and background */
.about-gallery h5 {
    font-weight: 400;
    margin-top: 5px;
    font-size: 18px;
    max-width: 600px;
    text-align: justify;
}

.about-gallery .photo {
    width: 208px;
    height: 211px;
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}

.about-gallery .border {
    border: 5px solid #fbffff;
}

.instructor-details {
    margin: 0;
}


.about-skills {
    background-color: #054e6f;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.about-skills h3 {
    font-family: 'Bangers', sans-serif;
    font-size: 60px;
    text-align: center;
    color: #fff;
}

.about-about {
    padding-bottom: 15px;
}

.about-about h4 {
    color: #fbffff;
     font-size: 35px;
}

.sweatitskill {
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
    color: #ffd900;
    margin-top: 10px;
}

/* this is the dark blue section with the progress bars */
.about-signup {
    background-color: #ffd900;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.about-signup h3 {
    font-family: 'Bangers', sans-serif;
    font-size: 55px;
}

.about-signup h4 {
    font-size: 30px;
}

/* ----------------------------------------Classes page styles. There are four available classes. Pictures and text will alternate on the page*/

.classesavailable {
    background-color: #7bd7c2;
    padding: 0;
    align-items: center;
}

.blurb {
    padding: 20px;
}

.content {
    align-items: center;
    margin: 0;
    padding: 0;
}

.blurb h4 {
    font-size: 2rem;
}

#optionone {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 15px;
}

#optiontwo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#optionthree {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#optionfour {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 15px;
}


.row {
    margin-right: 0;
    padding: 0;
}

/* These styles are for the schedule at the bottom of the page */

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-bottom: 10px;
    margin-top: 30px;
}

.weekday {
    font-family: 'Bangers', sans-serif;
    font-size: 20px;

}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {
    background-color: rgb(235, 235, 235);
}

td {
    text-align: center;
}

@media only screen and (max-width: 1026px) { 
  .scheduling  { 
    display: none; 
  } 
}

.scheduling {
    padding: 20px;
}

.schedule-pdf i {
    font-size: 25px;
    color: #ffd900;
    background-color: #054e6f;
    width: 45px;
    height: 45px;
    padding: 20px 0px;
    border-radius: 50%;
    line-height: 6px;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.schedule-pdf i:hover {
    color: #054e6f;
    background-color: #ffd900;
}

.classesbtn {
    background-color: #054e6f;
    color: #ffd900;
    border-radius: 23px;
    font-family: 'Bangers', sans-serif;
}

.classesbtn:hover {
    background-color: #ffd900;
    color: #054e6f;
}

.general-sub {
    font-family: 'Bangers', sans-serif;
    font-size: 3em;
}

#schedule {
    padding: 15px;
}

#schedule h5 {
    font-family: 'Bangers', sans-serif;
    font-size: 2.5em;
}


/* ----------------------------------------Contact page styles*/
.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-top: 0px;
    padding-top: 10px;
    background-color: #67c60a;
}

.left {
    width: 40%;
    background-color: #67c60a;
    text-align: center;
}

.right {
    width: 60%;
    background-color: #fbffff;
    justify-content: center;
}

/* On larger sizes, the left side will contain the buisness details. On smaller sizes, it will be first and will take up the entire width.*/

.contact-gym-name {
    font-family: 'Bangers', sans-serif;
    font-size: 50px;
}

.contact-info-item .key {
    font-size: 30px;
    font-weight: 600;
}

.contact-info-item .value {
    font-size: 25px;
}


.contact-gym-hours {
    font-family: 'Bangers', sans-serif;
    font-size: 40px;
}

.buisnessinfo {
    background-color: white;
    padding: 15px 0px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buisness-info-item .key {
    font-size: 30px;
    font-weight: 600;
}

.buisness-info-item .value {
    font-size: 25px
}

/* On larger sizes, the right side will contain a sign up form. On smaller sizes, it will be after the buisness details and will take up the entire width.*/
.contact-form {
    padding-left: 100px;
    padding-right: 100px;
}

form {
    padding-top: 15px;
}

.contact-form h3 {
    font-family: 'Bangers', sans-serif;
    font-size: 50px;
}

.contact-form h5 {
    font-family: 'Bangers', sans-serif;
    font-size: 30px;
}

.contact-heading {
    font-family: 'Bangers', sans-serif;
    font-size: 50px;
}
